/* Tipografia padrão */
body {
    font-family: 'Maven Pro', sans-serif; /* Ou qualquer fonte usada no projeto */
    font-size: 16px; /* Tamanho base */
    line-height: 1.5; /* Espaçamento entre linhas */
    color: #1a1b1a; /* Cor padrão do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f7;
}


/* Estilo básico para links */
a {
  text-decoration: none; /* Remove o sublinhado */
  color: #372778; /* Cor padrão para links */
  transition: color 0.2s ease; /* Animação suave */
}

a:hover {
  color: #47398f; /* Cor ao passar o mouse */
}

/* Estilo básico para botões */
button {
    font-family: inherit; /* Usa a mesma fonte do texto */
    font-size: 1rem;
    background-color: #FBBA18;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  