/* Padrões de Layout */

body {
    background-color: var(--primary-white); /* Cor padrão de background */
    color: var(--text-color-black); /* Cor padrão do texto */

    /* Tipografia padrão */
    font-family: 'Maven Pro', sans-serif; /* Ou qualquer fonte usada no projeto */
    font-size: var(--text-size); /* Tamanho base */
    line-height: 1.5; /* Espaçamento entre linhas */

    min-height: 100vh;
    width: 100%;
    transition: 0;

    overflow-x: hidden;
    overflow-anchor: none;
}

header{
    width: 100%;
    display: grid;
}

section,
aside,
footer{
    width: 100%;
    display: grid;
    padding: 0rem var(--page-content-padding);
}

/* Estilo básico para links */
p a{
    display: inline;
}

a {
    color: var(--text-color-black);
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.5s ease; /* Animação suave */
    display: inline-block;
}

a:hover {
    color: #000000; /* Cor ao passar o mouse */
}

/* Estilo básico para botões */
button {
    font-family: inherit; /* Usa a mesma fonte do texto */
    font-size: 1rem;
    background-color: #FBBA18;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
/* Estilo básico para títulos e textos */

h1{
    font-size: var(--title-size);
    font-weight: 900;
}

h2{
    font-size: var(--sub-title-size);
    font-weight: 800;
}

h3{
    font-size: 1.75rem;
    font-weight: 700;
}

p{
    font-size: var(--large-text-size);
    font-weight: 500;
    overflow-wrap: break-word;
}