/* Resetando padrões do Navegador */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

summary {
    list-style: none; /* Remove a seta no Firefox */
}
  
summary::-webkit-details-marker {
    display: none; /* Remove a seta no Chrome e Safari */
}
  
  summary::marker {
    display: none; /* Remove a seta em navegadores mais novos */
}
  