:root{
    --primary-purple: #380982;
    --primary-yellow: #FFBC01;
    --primary-white: #f5f5f7;

    --shadow-purple: #290267;
    --shadow-yellow: #CE9800;
    --shadow-white: #a7a7a7;

    --text-color-white: #ffffff;
    --text-color-black: #1a1b1a;
    --text-color-purple: var(--primary-purple);
    --text-color-yellow : var(--primary-yellow);

    --title-size: 3rem; /* Equivale a 48px */
    --sub-title-size: 2.25rem; /* Equivale a 36px */
    --large-text-size: 1.25rem; /* Equivale a 20px */
    --text-size: 1rem; /* Equivale a 16px */
    --small-text-size: 0.75rem; /* Equivale a 12px */
}