/* Importações */

@import '_is-active.css';
@import '_is-hidden.css';
@import '_is-error.css';

/* Outros Estados */

.no-select {
    user-select: none; /* Navegadores modernos */
    -webkit-user-select: none; /* Para navegadores baseados em Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer e Edge Legacy */
}