/* Importações */

@import '_is-active.css';
@import '_is-hidden.css';
@import '_is-error.css';

/* Outros Estados */

.no-select {
    user-select: none; /* Navegadores modernos */
    -webkit-user-select: none; /* Para navegadores baseados em Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer e Edge Legacy */
}

/* .is-scrolled{
    
}*/

.l--header-navigation.is-scrolled{
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba(88, 88, 88, 0.18);
    box-shadow: 0 0 50px #00000050;
}

@media (min-width: 1100px){
    .l--header-navigation.is-scrolled .m--nav__logo-container{
        height: 5rem;
    }
}

.l--header-navigation.is-scrolled .m--nav__menu-container{
    transform: translateY(25%);
}



@media (max-width: 1100px){
    .l--header-navigation.is-scrolled .m--nav__menu-container{
        align-items: start;
        transform: translateY(0);
    }
}