.is-active{
    display: block;
}

/* ------------------------------------------------------------------ */
/* Menu Hamburguer */
.m--nav__hamburguer-menu.is-active .m--nav__hamburguer-menu-line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.m--nav__hamburguer-menu.is-active .m--nav__hamburguer-menu-line-2{
    width: 0px;
    
}

.m--nav__hamburguer-menu.is-active .m--nav__hamburguer-menu-line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}

/* ------------------------------------------------------------------ */
/* Mobile Navbar */

.l--header-navigation.is-active{
    display: flex;
}

@media (max-width: 1100px){
    .l--header-navigation.is-active{
        background: rgba( 0, 0, 0, 0.2 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border: 1px solid rgba(88, 88, 88, 0.18);
        box-shadow: 0 0 50px #00000050;
        border-radius: 0 0 0.5rem 0.5rem;

        height: 42rem;
        transition: height 1s;

        z-index: 2;
    }

    .l--header-navigation.is-active::before{
        /* content: ; */
        background-color: #00000020;
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 0.1;
    }

    .l--header-navigation.is-active .m--nav__menu-container{
        align-items: start; /* Em is-scrooler (__states) também têm pq esse aqui por algum motivo n está funcioando */
    }
}

/* Carrossel */

.l--section__carousel-timeline.is-active{
    display: grid;
}

.m--carousel__pagination.is-active{
    background-color: var(--primary-yellow);
    opacity: 1;
}

.m--carousel-timeline__pagination.is-active{
    background-color: var(--primary-white);
}

.m--carousel-timeline__pagination-container > li.is-active{
    display: flex;
    transform: scale(1.1);
}