* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f7;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  position: relative;
}

.login-panel {
  position: absolute;
  top: 20%;
  z-index: 1;
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
  width: 40px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 50px;
  color: #380982;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 0px solid #ccc;
  font-size: 14px;
  background-color: #e6e6e6;
  box-shadow: inset rgb(187, 187, 187) 0px 0px 5px -1px; 
  outline: none;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

.forgot-password {
  text-align: right;
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  color:  #380982;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.button {
  background-color: #380982;
  width: 100%;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 0 #220550;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.button:active {
  box-shadow: none;
  transform: translateY(-5px);
}

button:hover {
  background-color: #460ca1;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #888;
  font-size: 14px;
}

#alert-box {
  display: none;
  color: #460ca1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #460ca1;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.icon {
  height: auto;
  cursor: pointer;
  object-fit: contain;
}
.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Adiciona espaço à direita para o ícone */
}

.toggle-password {
  position: absolute;
  top: 53%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password img {
  height: 23px;
}

.logo {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: -300px;
  height: auto;
  width: 300px; 
}

.absolute {
  position: fixed;
  top: 50% !important;
  inset: 0;
  justify-content: right; 
  display: inline-flex; 
  flex-direction: row;
  }

.bg-shapeone {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}

.bg-shapetwo {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  position: relative;
  animation: two 10s infinite;
}

.bg-shapetree {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  position: relative;
  animation: tree 10s infinite;
}

@keyframes one {
  0%{left: 0px; top: 0px;} 
  25%{left: -100px; top: 70px;} 
  50% {left: 20px; top: 150px;} 
  75% { left: 50px; top: 100px;} 
  100% {left: 0px; top: 0px;}
}

@keyframes two {
  0%{left: 0px; top: 0px;}
  25% {left: 50px; top: -200px;} 
  50% {left: 100px; top: 50px;} 
  75%{left: 50px; top: -200px;} 
  100%{left: 0px; top: 0px;}
}

@keyframes tree {
  0%{left: 0px; top: 0px;}
  25% {left: -90px; top: -100px;} 
  50% {left: -100px; top: 50px;} 
  75%{left: -30px; top: -300px;} 
  100%{left: 0px; top: 0px;}
}

.opacity-50 { 
  opacity: .5;
}

.bg-blur {
  filter: blur(90px);
}

.bg-pri {
  background-color: #460ca1;
}

.bg-sec {
  background-color: rgb(255, 217, 0);
}

.bg-ter {
  background-color: rgb(255, 145, 0);
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .login-panel {
    width: 100%;
    padding: 20px;
    position: relative;
    top: auto;
    align-items: center;
  }

  .logo {
    display: none;
  }

  .toggle-password {
    top: 55%;
    right: 10%;
    position: absolute;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .absolute {
    display: none;
  }
}

