/* Importações */

@import url('/assets/css/module/_button.css');
@import url('/assets/css/module/_card.css');
@import url('/assets/css/module/_form.css');
@import url('/assets/css/module/_navigation.css');
@import url('/assets/css/module/_table.css');
@import url('/assets/css/module/_article.css');
@import url('/assets/css/module/_section.css');
@import url('/assets/css/module/_details.css');

/* Outros Módulos */

.m--banner-container{
    background-color: var(--shadow-purple);
    width: 100%;
}

.l--section__location .m--banner-container{
    aspect-ratio: 3 / 2;
}

.m--banner-container__transparent{
    background-color: transparent;
}

.l--section__location{

}

.m--banner-container-16-9{
    aspect-ratio: 16 / 9;
    max-width: 1280px;
}

.m--banner-container-3-4{
    aspect-ratio: 3 / 4;
    max-width: 480px;
}