.m--article{
    text-align: left;
}

.m--article__align-right{
    text-align: right;
}

.m--article__right-position-absolute{
    
}

.m--article__title{
    color: var(--primary-yellow);
    line-height: var(--title-size);
}