.m--button{
    padding: var(--button-padding);
    color: var(--text-color-black);
    font-weight: 600;
    font-size: var(--button-text-size);
    text-transform: uppercase;
    border-radius: var(--border-radius-medium);
}

.m--card__footer .m--button{
    background-color: transparent;
    border: 3px solid var(--shadow-purple);
    color: var(--shadow-purple);
    flex-grow: 1;
}

.m--button-cta,
.m--button-yellow-default{
    background-color: var(--primary-yellow);
    color: var(--text-color-black);
    box-shadow: 0 5px 0 var(--shadow-yellow);

    transition: 0.2s;
}

.m--button-cta:hover,
.button-yellow-default:hover{
    box-shadow: 0 4px 0 var(--shadow-yellow);
    transform: scale(1.01);
}

.m--button-cta:active,
.button-yellow-default:active{
    box-shadow: 0 0px 0 var(--shadow-yellow);
    transform: scale(1.01) translateY(4px);
}

.m--button.m--button-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.m--article .m--button,
.m--section .m--button{
    /* Nada ainda */
}

.m--button-container{
    margin: var(--default-margin) 0;
}