.m--card{
    background-color: var(--primary-white);
    border-radius: var(--border-radius-large);
    border: var(--shadow-white) 1px solid;
    box-shadow: 0 0.5rem 0 var(--shadow-white);
    
    margin-bottom: var(--large-margin);
    padding: var(--large-padding);

    display: grid;
    align-content: space-between;
    gap: 0.5rem;
}

.m--card__portfolio.m--card{
    /* width: clamp(18rem, 25vw, 25rem); */
    min-width: 15rem;
    width: auto;
    max-width: 18rem;
    height: 95%;
}

.m--card__depoimento.m--card{
    box-shadow: none;
    min-width: 18rem;
    width: auto;
    max-width: 28rem;
}

.m--card__title-container{
    color: var(--text-color-purple);
    text-align: center;

    display: grid;
    justify-items: center;
}

.m--card__depoimento .m--card__title-container{
    text-align: left;
    justify-items: left;
}

.m--card__banner-image-container{
    width: 50%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.m--card__banner-image{
    width: 100%;
}

.m--card__title{
    font-size: var(--smaller-title-size);
    line-height: var(--smaller-title-size);
    font-weight: auto;
}

.m--card__portfolio .m--card__title{
    font-weight: 900;
}

.m--card__depoimento .m--card__title{
    font-weight: 500;
}

.m--card__content-container{
    color: var(--text-color-black);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m--card__depoimento .m--card__content-container{
    text-align: left;
}

.m--card__content{
    font-size: var(--small-text-size);
}

.m--card__footer{
    display: flex;
    justify-content: center;
}

.m--card__depoimento .m--card__footer{
    justify-content: left;
    padding: 0;
}

.m--card__depoimento .m--card__footer .m--card__content{
    color: var(--shadow-purple);
    font-weight: 900;
    text-align: left;
}