@import "../base/_root.css";

.m--nav{
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2.5rem;

    container-type: inline-size;
    container-name: nav;
}

.m--nav__logo-container{
    height: 12vw;

    min-height: 5rem;
    margin-right: 1rem;
}

.m--nav__logo-img{
    height: 100%;
}

.m--nav__menu-container{
    /* display: flex; */ /* Observar mudança na área de responsividade (final do código) */
    flex-direction: row;
    gap: 2rem;
}

.m--nav__menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.m--nav__link{
    color: var(--text-color-white);
    padding: 0.5rem 0rem;
    border-radius: 0.3rem;
}

.m--nav__link:hover{
    color: var(--shadow-white);
}

.m--nav__login{
    color: var(--text-color-yellow);
    border: 1px solid var(--primary-yellow);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: 0.5s;
}

.m--nav__login:hover{
    color: var(--text-color-white);
    background-color: var(--primary-yellow);
    box-shadow: 0px 0px 20px var(--primary-yellow);
}

/* ------------------------------------------------------------------ */
/* Menu Hamburguer */

.m--nav__hamburguer-menu{
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 25px;
}

.m--nav__hamburguer-menu-line{
    background-color: var(--primary-yellow);
    box-shadow: 0 0px 0 var(--shadow-yellow);
    
    width: 100%;
    height: 4px;
    border-radius: 10rem;
    
    display: block;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 0.5s, width 0.5s;
}

.m--nav__hamburguer-menu-line-1{
    /* Linha 1 */
    transform: translate(-50%, -12px);
}

.m--nav__hamburguer-menu-line-2{
    /* Linha 2 */
    content: '';   
}

.m--nav__hamburguer-menu-line-3{
    /* Linha 3 */
    transform: translate(-50%, 8px);
}


/* ------------------------------------------------------------------ */
/* Responsividade */

.m--nav__mobile-menu-container{
    display: none;
}

.m--nav__menu-container{
    display: flex;
}

@media (max-width: 1100px){
    .m--nav{
        align-items: center;
    }

    .m--nav__logo-container{
        max-height: 8rem;
        height: 12vw;
        min-height: 5rem;
        margin-right: 1rem;
    }

    .m--nav__mobile-menu-container{
        display: inline-block;
    }

    .m--nav__menu-container{
        width: 100%;
        padding: 1rem 0;
        flex-direction:column-reverse
    }

    .m--nav__menu-container::after{
        background-color: var(--primary-yellow);
        content: '';
        width: 100%;
        height: 2px;
        border-radius: 5px;
    }

    .m--nav__menu{
        flex-direction: column;
    }

    .m--nav__link{
        color: var(--text-color-black);
        padding: 0.3rem 0.7rem;
    }

    /* Mudanças no header quando ativado está no "assests/css/state/is-active.css" */
}