/* Importações */

@import url('/assets/css/module/button.css');
@import url('/assets/css/module/card.css');
@import url('/assets/css/module/form.css');
@import url('/assets/css/module/navigation.css');
@import url('/assets/css/module/table.css');
@import url('/assets/css/module/article.css');
@import url('/assets/css/module/section.css');
@import url('/assets/css/module/details.css');

/* Outros Módulos */

.m--banner-container{
    background-color: var(--shadow-purple);
    width: 100%;
}

.l--section__location .m--banner-container{
    aspect-ratio: 3 / 2;
}

.m--banner-container__transparent{
    background-color: transparent;
}

.l--section__location{

}

.m--banner-container-16-9{
    aspect-ratio: 16 / 9;
    max-width: 1280px;
}

.m--banner-container-3-4{
    aspect-ratio: 3 / 4;
    max-width: 480px;
}