/* Importações */

@import url('button.css');
@import url('card.css');
@import url('form.css');
@import url('navigation.css');
@import url('table.css');
@import url('article.css');
@import url('section.css');
@import url('details.css');

/* Outros Módulos */

.m--banner-container{
    background-color: var(--shadow-purple);
    width: 100%;
}

.l--section__location .m--banner-container{
    aspect-ratio: 3 / 2;
}

.m--banner-container__transparent{
    background-color: transparent;
}

.m--banner-container-16-9{
    max-width: 1200px;
    aspect-ratio: 16 / 9;
}

.m--banner-container-3-4{
    aspect-ratio: 3 / 4;
    max-width: 480px;
}