/* Importações */

@import url('button.css');
@import url('card.css');
@import url('form.css');
@import url('navigation.css');
@import url('table.css');
@import url('article.css');
@import url('section.css');
@import url('details.css');
@import url('carousel.css');

/* Outros Módulos */

.m--banner-container{
    background-color: var(--shadow-purple);
    width: 100%;
}

.m--banner-container-100{
    height: 100%;
    width: 100%;
}

.l--section__location .m--banner-container{
    aspect-ratio: 3 / 2;
}

.m--banner-container__transparent{
    background-color: transparent;
}

.m--banner-container-16-9{
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.m--banner-container-3-4{
    aspect-ratio: 3 / 4;
    object-fit: cover;
    max-width: 480px;
}

.m--banner-container-4-3{
    aspect-ratio: 4 / 3;
    object-fit: cover;
}