.l--section-broad-content{
    width: 100%;
    display: grid;
    position: relative;
    gap: 1rem;
    margin: var(--large-margin) 0rem;
}

@media (max-width: 768px){
    .l--section-broad-content{
        justify-content: center;
    }
}

.l--section__right-align{
    justify-items: end;
}

.l--section__text-on-the-box{
    container-type: inline-size;
    container-name: text-on-the-box;
}

.l--section__text-on-the-box .l--article{
    transform: translateY(-50%);
}

@container text-on-the-box (max-width: 600px){
    .l--section__text-on-the-box .l--article{
        transform: translateY(0px);
    }
}

.l--section__card-section{
    display: flex;
    gap: var(--grid-gap);
    overflow-x: scroll;
}

/* Article */

.l--article{
    display: grid;
    gap: 0.6rem;
}

@media only screen and (max-width: 768px){
    .l--article *{
        justify-content: center;
        text-align: center;
    }

    .l--hero .l--article *{
        text-align: start;
        justify-content: start;
    }   
}

.l--article-50to100{ /* (1/2) */
    width: 50%;
}

@media only screen and (max-width: 768px){
    .l--article-50to100{ /* (2/2) */
        width: 100%;
    } 
}

.l--article-30rem{
    max-width: 30rem;
}