.l--section-broad-content{
    width: 100%;
    display: grid;
    position: relative;
    gap: 1rem;
    margin: var(--large-margin) 0rem;
    margin-bottom: calc(var(--large-margin) + 2rem);
}

@media (max-width: 768px){
    .l--section-broad-content{
        justify-content: center;
    }
}

.l--section__right-align{
    justify-items: end;
}

.l--section__center-align{
    justify-items: center;
    text-align: center;
}

.l--section__grid-wrap{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: var(--grid-gap);
}

.l--section__text-on-the-box{
    container-type: inline-size;
    container-name: text-on-the-box;
}

.l--section__text-on-the-box .l--article{
    transform: translateY(-50%);
}

@container text-on-the-box (max-width: 600px){
    .l--section__text-on-the-box .l--article{
        transform: translateY(0px);
    }
}

.l--section__card-section{
    width: 100%;
    overflow-x: scroll;
    
    display: flex;
    gap: var(--grid-gap);
}

.l--section__details-section{
    display: grid;
    gap: var(--grid-gap);
    width: 100%;
}

/* Article */

.l--article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (max-width: 768px){
    .l--article *{
        justify-content: center;
        text-align: center;
    }

    .l--hero .l--article *{
        text-align: start;
        justify-content: start;
    }   
}

.l--article-50to100{ /* (1/2) */
    width: 50%;
}

@media only screen and (max-width: 768px){
    .l--article-50to100{ /* (2/2) */
        width: 100%;
    } 
}

.l--article-30rem{
    max-width: 30rem;
}