/* estilos para estrutura do site, como cabeçalhos, rodapés, grids */


  /* Layout */
  .container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    position: relative;
  }

 /* Responsividade */
 @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 0 10px;
    }
  }

    
  /* Cabeçalhos e textos */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Texto em negrito */
    line-height: 1.2; /* Espaçamento compacto */
    color: #1a1b1a;
  }
  
  p {
    margin-bottom: 1em; /* Espaçamento entre parágrafos */
  }
  
  
  
  

