:root{
    /* Bordas Arredondadas */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;

    /* Botões */
    --button-text-size: clamp(0.85rem, 1.75vw, 1.125rem); /* 13.6px a 18px */
    --button-padding: clamp(0.8rem, 1.2vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
    --h-large-button-padding: clamp(0.8rem, 1vw, 1rem) clamp(2.5rem, 3.5vw, 4rem);

    /* Cores */
    --primary-purple: /* #380982 */ #4C108D;
    --primary-yellow: #FFBC01;
    --primary-white: #f5f5f7;

    --shadow-purple: #290267;
    --shadow-yellow: #CE9800;
    --shadow-white: #a7a7a7;

    --text-color-white: var(--primary-white);
    --text-color-black: #1a1b1a;
    --text-color-purple: var(--shadow-purple);
    --text-color-yellow : var(--primary-yellow);

    /* Grid e Flex responsivos */
    --grid-gap: clamp(0.5rem, 2vw, 1.5rem);

    /* Margens e espaçamentos ajustáveis */
    --large-margin: clamp(0.75rem, 2vw, 1.5rem); /* 12px a 24px */
    --default-margin: clamp(0.5rem, 1.5vw, 1rem); /* 8px a 16px */
    --small-margin: clamp(0.25rem, 1vw, 1rem); /* 4px a 12px */

    /* Padding */
    --page-content-padding: clamp(5%, 6vw, 7%);

    --large-padding: clamp(0.75rem, 2vw, 1.5rem); /* 12px a 24px */
    --default-padding: clamp(0.5rem, 1.5vw, 1rem); /* 8px a 16px */
    --small-padding: clamp(0.25rem, 1vw, 1rem); /* 4px a 12px */

    /* Sombras */
    --box-shadow-light: 0px 2px 5px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0px 4px 10px rgba(0, 0, 0, 0.2);
    --box-shadow-dark: 0px 6px 15px rgba(0, 0, 0, 0.3);

    /* Títulos e paragrafos escaláveis */
    --hero-title-size: clamp(2.25rem, 4vw, 3rem); /* 36px a 48px */
    --title-size: clamp(1.69rem, 3vw, 2.25rem); /* 36px a 48px */
    --small-title-size: clamp(1.25rem, 2.5vw, 1.75rem); /* 20px a 28px */

    --large-text-size: clamp(1.125rem, 2vw, 1.5rem); /* 18px a 24px */
    --text-size: clamp(0.94rem, 2vw, 1.25rem); /* 15px a 20px */
    --small-text-size: clamp(0.75rem, 1.5vw, 1rem); /* 12px a 16px */

    --caption-text-size: clamp(0.75rem, 1vw, 0.875rem); /* 12px a 14px */

        /* Linha do texto */
        --line-height: 1.5;
        --small-line-height: 1;

    /* ViewPort (Breakpoints)*/

    --phone-viewport: 480px;
    --tablet-viewport: 768px;
    --laptop-viewport: 1280px;
    --desktop-viewport: 100vw;
}