:root{
    --primary-purple: /* #380982 */ #4C108D;
    --primary-yellow: #FFBC01;
    --primary-white: #f5f5f7;

    --shadow-purple: #290267;
    --shadow-yellow: #CE9800;
    --shadow-white: #a7a7a7;

    --text-color-white: var(--primary-white);
    --text-color-black: #1a1b1a;
    --text-color-purple: var(--primary-purple);
    --text-color-yellow : var(--primary-yellow);

    --title-size: 3rem; /* Equivale a 48px */
    --sub-title-size: 2.25rem; /* Equivale a 36px */
    --large-text-size: 1.25rem; /* Equivale a 20px */
    --text-size: 1rem; /* Equivale a 16px */
    --small-text-size: 0.75rem; /* Equivale a 12px */

    --large-margin: 1.5rem;
    --default-margin: 1rem;
    --small-margin: 1rem;

    --page-content-padding: 7%;
}

@media (max-width: 500px){
    /* 75% do valor padrão */
    :root {
        --title-size: 2.25rem; /* Equivale a 36px */
        --sub-title-size: 1.69rem; /* Equivale a ~27px */
        --large-text-size: 0.94rem; /* Equivale a ~15px */
        --text-size: 0.75rem; /* Equivale a 12px */
        --small-text-size: 0.56rem; /* Equivale a ~9px */

        --large-margin: 0.75rem;
        --default-margin: 0.5rem;
        --small-margin: 0.25rem;

        --page-content-padding: 5%;
    }    
}